/*跳转开始*/
body{
    position: relative;
}
.tz{
    width: 100vw;
    height: 100%;
    background: rgba(0,0,0,.4);
    position: absolute;
    z-index: 50;
    display: none;
}
.tz1{
    width: 5.23rem;
    height: 5.38rem;
    background: white;
    border-radius: 16px;
    margin-top: 2rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
.tz1 p{
    font-size: 0.3rem;
    text-align: center;
    margin-top: 0.43rem;
}
.img2{
    margin-top: 0.48rem;
    width: 2.62rem;
}
.tz1 b{
    margin-top: 0.29rem;
    font-size: 0.26rem;
    color: #ff3522;
    font-weight: bold;
}
ul{
 margin-top: 0.16rem;
    margin-left: -0.12rem;
}
li{
    display: inline-block;
    width: 0.16rem;
    height: 0.16rem;
    background:#e6e6e6;
    margin-left: 0.14rem;
}
.on2{
    display: block;
}
.on3{
    background: #ff3522;
}
.tz1>.close0{
    width: 0.4rem;
    height: 0.4rem;
    background: #e5e5e5;
    position: absolute;
    top: 0.22rem;
    right: 0.22rem;
    border-radius: 50%;
    color: white;
    font-size: 0.24rem;
    text-align: center;
    line-height: 0.4rem;
}
/*跳转结束*/



header{
    background-image: url("../image/6.png");
    width: 100vw;
    height: 5.51rem;
   background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.img12{
    width: 14.6vw;
    height: 12vh;
    position: absolute;
    top: 0;
    left: 0.36rem;
    opacity: 0;
}
.img11{
    width: 14.6vw;
    height: 12vh;
    position: absolute;
    top: 0;
    left: 1.78rem;
    opacity: 0;
}
/*套餐开始*/
.s0{
    background: #e03d36;
    padding: 0rem 0.24rem 0.46rem 0.24rem;
}
.s1{
    width: 100vw;
    padding: 0.22rem 0;
    background: white;
}
.djs{
    margin-top: 0.1rem;
}
.s1 b{
    font-size: 0.30rem;
    color: #e03d36;
    font-weight: bold;

}
.bj1{
    position: relative;
    width: 1.38rem;
    margin-right: 0.1rem;
}
.bj1>div{
    color: white;
    background: #e03d36;
    width: 0.66rem;
    height: 0.88rem;
    border-radius: 6px;
margin-left: 0.08rem;
}
.bj1>div>i{
    width: 0.66rem;
    height: 0.01rem;
    background: white;
    opacity: 0.6;
}
.bj1 span{
    font-size: 0.6rem;
    letter-spacing: 0.3rem;
    color: white;
    width: 1.4rem;
}
.bj1,.bj2.bj3{
    position: relative;
}
.bj1 span,.bj2 span,.bj3 span{
    position: absolute;
    left: 50%;
    top: 0.05rem;
    transform: translateX(-30%);
    -webkit-transform: translateX(-30%);
}
/*飞享套餐开始*/
.yz6{
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.25);
}
.s2,.s3{
    padding-top: 0.3rem;
}
.s20{
    margin-bottom: 0.3rem;
}
.s20 span{
    font-size: 0.36rem;
    color: white;
    margin: 0 0.4rem;
}

.s20 i{
    width: 1.96rem;
    height: 0.02rem;
    background:white;
    display: block;
    margin-top: 0.06rem;
}
.c0{
    margin-bottom: 0.3rem;
    border-radius: 6px;
    box-shadow: 0 3px 0 #fbc431;
    -webkit-box-shadow:0 3px 0 #fbc431;
}
.c1{
    width: 7rem;
    height: 2.12rem;
    color: white;
    position: relative;
    padding: 0.47rem 0.5rem 0.34rem 0.55rem;
}
.c11{
    background: linear-gradient(left top,#fbb831,#fbb831 60% ,#fbc431 61%, #fbc431);
    background: -webkit-linear-gradient(left top,#fbb831,#fbb831 60% ,#fbc431 61%, #fbc431);
}
.c1 h1{
    font-size: 0.4rem;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.c1 h2{
    font-size: 0.36rem;
    margin-top: 0.06rem;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    -webkit-text-shadow: 0 2px 2px rgba(0,0,0,.2);
}
.c1 h3{
    font-size: 0.26rem;
    margin-top: 0.06rem;
    text-decoration:line-through;
    font-weight: normal;
}
.h31{
    color: #ffe7a7;
}
.miao{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    background-image: url("../image/5.png");
    background-position: center center;
    background-size: cover;
    box-shadow: 0 2px 6px #ffecc7;
    -webkit-box-shadow:0 2px 6px #ffecc7;

}
/*.miao1{
    border: 2px solid #ffe8af;
}*/
.c1 h4{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    font-size: 0.70rem;
    text-align: center;
    padding-left: 0.1rem;
    padding-bottom: 0.05rem;
}
.h41{
    border: 2px solid #ffe8af;
}
.c2{
    width: 7rem;
    background: white;

}
.c2 h5{
    font-size: 0.26rem;
    color: #E03D36;

}
.c2 h6{
    font-size: 0.3rem;
    color: #E03D36;
}

/*on开始*/
.cc1{
    display: none;
}
.c21{
    padding: 0.1rem 0.64rem;
}
.cc2{
    display: none;
    padding-bottom: 0.30rem;
}
.c22{
    padding: 0.1rem 0.64rem;
}
.cc2 h5{
    font-size: 0.26rem;
    color: #E03D36;
}
.cc2 h6{
    font-size: 0.3rem;
    color: #E03D36;
    transform: rotate(90deg);
    font-weight: normal;
}

.cc2xian{
    width: 6.4rem;
    height: 0.02rem;
    background: #ffe8af;
    margin: 0 auto 0.1rem;
}
.cc2 p{
    font-size: 0.24rem;
    color: #999999;
    padding: 0.1rem 0.64rem;
}
.on1{
    display:block;
}
/*on结束*/
/*套餐重复开始*/
.c12{
    background: linear-gradient(left top,#fbb831,#fbb831 60% ,#fbc431 61%, #fbc431);
    background: -webkit-linear-gradient(left top,#fbb831,#fbb831 60% ,#fbc431 61%, #fbc431);
}
/*.miao2{
    border: 2px solid #a5dcff;
}*/
.h42{
    border: 2px solid #a5dcff;
}
.h32{
    color: #FFE8AF;
}
/*套餐重复结束*/
/*秒杀开始*/


/*秒杀结束*/